:root{
    --red:hsl(0, 78%, 62%);
    --cyan:hsl(180, 62%, 55%);
    --orange:hsl(34, 97%, 64%);
    --blue:hsl(212, 86%, 64%);
    --darkblue:hsl(234, 12%, 34%);
    --grayblue:hsl(229, 6%, 66%);
    --lightgray:hsl(0, 0%, 98%);
}

body{
    text-align: left;
    font-family: 'Poppin', sans-serif;
    color: var(--grayblue);
}

h3{
    color: #000;
}

.container{
    min-width: 330px;
    margin: 10% 10% 10% 5%;
    display: grid;

}

.heading{
    margin-bottom: 15%;
    padding-left: 5%;
}

.pre-title{
    font-weight: 300;
}

.title{
    font-weight: 600;
    color:#000
}

.heading p{
    padding-right: 12%;
    font-size: 1rem;

}

.card-section{
    display: grid;
    grid-template-rows: 4;
    grid-template-columns: 1;
}
.card{
    padding: 0 4% 5% 5%;
    margin-bottom:7%;
    
}

.card p{
    padding-right: 18%;
}

.icon-section{
    text-align: end;
}

.icons{
    padding-top: 10%;
}

.card-first{
    border-radius: 5px;
    border: groove 5px var(--cyan);
    box-shadow: 1px 5px 5px var(--grayblue);
    border-bottom: none;
    border-left: none;
    border-right: none;
}

.card-second{
    border-radius: 5px;
    border: groove 5px var(--red);
    box-shadow: 1px 5px 5px var(--grayblue);
    border-bottom: none;
    border-left: none;
    border-right: none;
}
.card-third{
    border-radius: 5px;
    border: groove 5px var(--orange);
    box-shadow: 1px 5px 5px var(--grayblue);
    border-bottom: none;
    border-left: none;
    border-right: none;
}

.card-fourth{
    border-radius: 5px;
    border: groove 5px var(--blue);
    box-shadow: 1px 5px 5px var(--grayblue);
    border-bottom: none;
    border-left: none;
    border-right: none;
}

@media (min-width:1024px) {
    body{
        text-align: center;
        line-height: 1.5;

    }
    .container{
        margin: 1% 20%;
        display: flex;
        flex-direction: column;
    }

    .heading{
        margin: 0 auto 5%;
        padding: 0;
        
    }

    .heading p{
        font-size: 10px;
        padding:0 20%;

    }

    .card-section{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        text-align: left;
    }

    .card-first{
        grid-row-start: 2;
        grid-row-end:   3;
        position: relative;
        bottom: 50%;
        right: 10%;
    }

    .card-second{
        grid-column-start: 2;
        grid-column-end: 3;
    }

    .card-third{
        grid-column-start: 2;
        grid-column-end: 3;

    }

    .card-fourth{
        position: relative;
        bottom: 50%;
        left: 10%;
    }
}